body{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(103, 15, 15);
}
.container{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 82, 82);
    width: 20vw;
    height: 50px;
    padding: 2rem 2rem 2rem;
    border-radius: 20px;
    margin-top: 2rem;
}
h1{
    margin-top: 5rem;
    color: rgb(238, 226, 226);
}
#check{
    background-color: rgb(248, 65, 65);
    color: aliceblue;
    border-radius: 6px;
    width: 10vw;
    margin-top: 2rem;
    border-color: rgb(104, 4, 4);
}
#output{
    color: aliceblue;
}